{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <div style="text-align:center;">
    <iframe style="border:none" src="{{ ccUrl }}" title='Jokul Credit Card' height='350' width='100%'></iframe>
  </div>
  {{ content_bottom }}
</div>
{{ footer }}
