{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <div style="text-align:center;">
  </br></br></br>
    <h1><strong>Your Transaction is Waiting for Your Payment</strong></h1>

    <p>Please transfer your payment to this payment code / VA number:</p>
    
		<h2>{{ payment_code }}</h2>
    <h3>Payment Amount: Rp {{ amount }}</h3>
		
    <p>Payment Channel: {{ channel_name }}<br>
    Make your payment before: {{ expiry_date }}</p>

    <p><a href="{{ how_to_pay_page }}" target="_blank">Click here to see payment instructions</a></p>
    
    {# <p>{{ return_message }}</p> #}
		<div class="buttons">
			<div class="right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</br></br></br>
		</div>		
  </div>
  {{ content_bottom }}
</div>
	
{{ footer }}