{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <div style="text-align:center;">
  </br></br></br>
    <h1>{{ heading_title }}</h1>
    <p>{{ failed_info }}<p/>
    <p>{{ return_message }}</p>
		<div class="buttons">
			<div class="right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</br></br></br>
		</div>		
  </div>
  {{ content_bottom }}
</div>
	
{{ footer }}